<!DOCTYPE html>
<html>
<head>
	
	<title>Chosen Event</title>
	<meta charset="utf-8">
	<meta name="author" content="Kunal Kalra">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="keywords" content="">

  	<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="../stylesheets/semantic.min.css">
  	<link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css">
  	<link rel="stylesheet" type="text/css" href="../stylesheets/chosenEvent.css">

</head>

<body>

<div class="ui secondary pointing menu">

		<a href="#"><img src="../images/logo.png" alt="Logo Comes Here" id="logo"></a>

			<a class="item" href="#">About us</a>
			<a class="item active" href="#">Services</a>
			<a class="item" href="#">Features</a>
			<a class="item" href="#">Gallery</a>
			<a class="item" href="#">Blog</a>
			<a class="item" href="#">Sign Up</a>
</div>

<div class="imageWrapper">
	<p>You take care of the feelings,</p>
	<p>we take care of the rest</p>
</div>


<button class="ourServicesButton">Our Services</button>

<div class="row flexboxRow">

	<div class="col-sm-3">
		<div class="newContainer active">
            <img src="../images/img_avatar.png" class="image">
            <div class="overlay">
                <div class="text">This is sample overlay</div>
            </div>
        </div>

        <button>BIRTHDAYS</button>

	</div>
	<div class="col-sm-3">
		<div class="newContainer">
            <img src="../images/img_avatar.png" class="image">
            <div class="overlay">
                <div class="text">This is sample overlay</div>
            </div>
        </div>
        <button>FESTIVALS</button>
	</div>
 	<div class="col-sm-3">
 		<div class="newContainer">
            <img src="../images/img_avatar.png" class="image">
            <div class="overlay">
                <div class="text">This is sample overlay</div>
            </div>
        </div>
        <button>BACHELORS</button>
 	</div>
 	<div class="col-sm-3">
 		<div class="newContainer">
            <img src="../images/img_avatar.png" class="image">
            <div class="overlay">
                <div class="text">This is sample overlay</div>
            </div>
        </div>
        <button>RECEPTION</button>
 	</div>
	
</div>

<div class="row flexboxRow">

	<div class="col-sm-3">
		<div class="newContainer active">
            <img src="../images/img_avatar.png" class="image">
            <div class="overlay">
                <div class="text">This is sample overlay</div>
            </div>
        </div>

        <button>BIRTHDAYS</button>

	</div>
	<div class="col-sm-3">
		<div class="newContainer">
            <img src="../images/img_avatar.png" class="image">
            <div class="overlay">
                <div class="text">This is sample overlay</div>
            </div>
        </div>
        <button>FESTIVALS</button>
	</div>
 	<div class="col-sm-3">
 		<div class="newContainer">
            <img src="../images/img_avatar.png" class="image">
            <div class="overlay">
                <div class="text">This is sample overlay</div>
            </div>
        </div>
        <button>BACHELORS</button>
 	</div>
 	<div class="col-sm-3">
 		<div class="newContainer">
            <img src="../images/img_avatar.png" class="image">
            <div class="overlay">
                <div class="text">This is sample overlay</div>
            </div>
        </div>
        <button>RECEPTION</button>
 	</div>
	
</div>

</body>
</html>