<!DOCTYPE html>
<html>
<head>

	<title>Event Page</title>

	<meta charset="utf-8">
	<meta name="author" content="Kunal Kalra">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="keywords" content="">

  	<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="../stylesheets/semantic.min.css">
  	<link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css">
  	<link rel="stylesheet" type="text/css" href="../stylesheets/event.css">
  	
  	<script type="text/javascript" src="../semantic.min.js"></script>
  	<script type="text/javascript" src="../bootstrap.min.js"></script>


</head>

<body>

<div class="ui secondary pointing menu">

		<a href="#"><img src="../images/logo.png" alt="Logo Comes Here" id="logo"></a>

			<a class="item active" href="#">About us</a>
			<a class="item" href="#">Services</a>
			<a class="item" href="#">Features</a>
			<a class="item" href="#">Gallery</a>
			<a class="item" href="#">Blog</a>
			<a class="item" href="#">Sign Up</a>

</div>

<div class="imageWrapper">

	<span>Birthday Party</span>

</div>

<br><br><br><br>
<div class="cardWrapper row">

	<div class="card col-sm-6">

		<img src="../images/group-add.png" alt="Image comes here">

		<h1>CUSTOMISE</h1>
		<h3>your plan</h3>

		<img src="../images/line.png">

		<ul>
			<li><img src="../images/check-circle-outline.png">Unique Alterations</li>
			<li><img src="../images/check-circle-outline.png">Personal Adjustments</li>
			<li><img src="../images/check-circle-outline.png">Reorientate Personally</li>
		</ul>
		
		<button class="customButton">Begin Planning</button>

	</div>

	<div class="card col-sm-6"> 

		<img src="../images/beenhere.png" alt="Image comes here">

		<h1>CHOOSE</h1>
		<h3>ready made plans</h3>
		
		<img src="../images/line.png">

		<ul>

			<li><img src="../images/check-circle-outline.png">Unique Alterations</li>
			<li><img src="../images/check-circle-outline.png">Personal Adjustments</li>
			<li><img src="../images/check-circle-outline.png">Reorientate Personally</li>

		</ul>

		<button class="customButton">Begin Planning</button>
		
	</div>

</div>

</body>
</html>